# Importing libraries

In [1]:
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# setting up driver to access the webpage

In [2]:
driver = webdriver.Chrome()

# defining the landing page

In [3]:
driver.get("https://www.redbus.in/")
time.sleep(5)

# Selecting a RTC

The route chosen to extract his BLR -> HYD through the RTC of telangana RTC

In [4]:
TSRTC = driver.get("https://www.redbus.in/online-booking/tsrtc/")

## selecting source location

In [5]:
start = "bangalore"
source = driver.find_element(By.CSS_SELECTOR,"input[id='txtSource']").send_keys(start)

## selecting destination location

In [6]:
end = "hyderabad"
final = driver.find_element(By.CSS_SELECTOR,"input[id='txtDestination']").send_keys(end)

## selecting dates

In [7]:
day = "10-10-2024"
date = driver.find_element(By.CSS_SELECTOR,"input[id='txtOnwardCalendar']").send_keys(day)

## submitting the request

In [8]:
search_buses = driver.find_element(By.XPATH,"//*[@id='DC120_sw_main']/button").click()

# extracting Data

# Government Bus Data

### Bus Name

In [13]:
bus_name = driver.find_elements(By.XPATH,"//div[@class='travels lh-24 f-bold d-color']")

In [10]:
Bus_Name = []

In [14]:
for i in bus_name:
    Bus_Name.append(i.text)

In [15]:
Bus_Name

['TSRTC - 1004',
 'TSRTC - 4494',
 'TSRTC - 1298',
 'TSRTC - 89149',
 'TSRTC - 1038',
 'TSRTC - 1004',
 'TSRTC - 4494',
 'TSRTC - 1298',
 'TSRTC - 89149',
 'TSRTC - 1038',
 'TSRTC - 7144',
 'TSRTC - 6818',
 'TSRTC - 2995',
 'TSRTC - 8208',
 'TSRTC - 7291',
 'TSRTC - 7809',
 'TSRTC - 1957',
 'TSRTC - 8212',
 'TSRTC - 8666',
 'TSRTC - 1010']

### Bus Type i.e sleeper/seater/Ac/Non-Ac

In [16]:
bus_type = driver.find_elements(By.XPATH,"//div[@class='bus-type f-12 m-top-16 l-color evBus']")

In [17]:
Bus_Type = []

In [18]:
Bus_Type

[]

In [19]:
for i in bus_type:
    Bus_Type.append(i.text)

In [20]:
Bus_Type

['SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'LAHARI A/C SLEEPER CUM SEATER',
 'Lahari Non A/C Sleeper Cum Seater',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'LAHARI A/C SLEEPER CUM SEATER',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'LAHARI A/C SLEEPER CUM SEATER',
 'LAHARI A/C SLEEPER CUM SEATER',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)',
 'LAHARI A/C SLEEPER CUM SEATER',
 'LAHARI A/C SLEEPER CUM SEATER',
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)']

### Departing time

In [21]:
departure = driver.find_elements(By.XPATH,"//div[@class='dp-time f-19 d-color f-bold']")

In [22]:
departing_time = []

In [23]:
for i in departure:
    departing_time.append(i.text)

In [24]:
departing_time

['05:10',
 '06:25',
 '08:25',
 '09:10',
 '10:10',
 '12:00',
 '13:40',
 '15:45',
 '17:30',
 '17:45',
 '18:40',
 '19:25',
 '19:30',
 '19:55',
 '20:10']

### Arrival time

In [25]:
arrival = driver.find_elements(By.XPATH,"//div[@class='bp-time f-19 d-color disp-Inline']")

In [26]:
Arrival_time = []

In [27]:
for i in arrival:
    Arrival_time.append(i.text)

In [28]:
Arrival_time

['16:00',
 '16:50',
 '19:25',
 '20:50',
 '21:20',
 '00:30',
 '00:35',
 '03:15',
 '04:00',
 '04:00',
 '04:30',
 '06:40',
 '04:30',
 '06:30',
 '07:10']

### Duration

In [29]:
time = driver.find_elements(By.XPATH,"//div[@class='dur l-color lh-24']")

In [30]:
Duration = []

In [31]:
for i in time:
    Duration.append(i.text)

In [32]:
Duration

['10h 50m',
 '10h 25m',
 '11h 00m',
 '11h 40m',
 '11h 10m',
 '12h 30m',
 '10h 55m',
 '11h 30m',
 '10h 30m',
 '10h 15m',
 '09h 50m',
 '11h 15m',
 '09h 00m',
 '10h 35m',
 '11h 00m']

### Star Rating

In [33]:
star = driver.find_elements(By.XPATH,"//div[@class='rating-sec lh-24']")

In [34]:
Star_rate = []

In [35]:
for i in star:
    Star_rate.append(i.text)

In [36]:
Star_rate

['3.4',
 '2.8',
 '3.4',
 '3.2',
 '2.5',
 '3.2',
 '3.7',
 '3.7',
 '3.0',
 '4.2',
 '3.4',
 '3.7',
 '3.4',
 '3.8',
 '3.1']

### Price

In [37]:
cost = driver.find_elements(By.XPATH,"//div[@class='fare d-block']")

In [38]:
Price = []

In [39]:
for i in cost:
    Price.append(i.text)

In [40]:
Price

['INR 1263',
 'INR 1263',
 'INR 1560',
 'INR 1263',
 'INR 1263',
 'INR 1263',
 'INR 1263',
 'INR 1560',
 'INR 1263',
 'INR 1560',
 'INR 1560',
 'INR 1263',
 'INR 1560',
 'INR 1560',
 'INR 1263']

### Seats available

In [41]:
seats = driver.find_elements(By.XPATH,"//div[@class='seat-left m-top-16']")

In [42]:
Seat_Availability = []

In [43]:
for i in seats:
    Seat_Availability.append(i.text)

In [44]:
Seat_Availability

['30 Seats available',
 '31 Seats available',
 '21 Seats available',
 '38 Seats available',
 '30 Seats available']

#### buses with higher seats remaining

In [45]:
seats1 = driver.find_elements(By.XPATH,"//div[@class='seat-left m-top-30']")

In [46]:
for i in seats1:
    Seat_Availability.append(i.text)

In [47]:
Seat_Availability

['30 Seats available',
 '31 Seats available',
 '21 Seats available',
 '38 Seats available',
 '30 Seats available',
 '33 Seats available',
 '31 Seats available',
 '32 Seats available',
 '31 Seats available',
 '32 Seats available',
 '34 Seats available',
 '29 Seats available',
 '28 Seats available',
 '37 Seats available',
 '28 Seats available']

#### spliting numerical value separately

In [48]:
availability = []
dump = []

for i in Seat_Availability:
    avail,seats,status= i.split()
    availability.append(avail)
    dump.append(f"{seats}{status}")

In [49]:
availability

['30',
 '31',
 '21',
 '38',
 '30',
 '33',
 '31',
 '32',
 '31',
 '32',
 '34',
 '29',
 '28',
 '37',
 '28']

### Bus route Name

In [50]:
start_point = driver.find_elements(By.XPATH,"//div[@class='dp-loc l-color w-wrap f-12 m-top-16']")
end_point = driver.find_elements(By.XPATH,"//div[@class='bp-loc l-color w-wrap f-12 m-top-16']")

In [51]:
route = []

In [52]:
for i in start_point:
    for j in end_point:
        a = (i.text + " to " + j.text )
        route.append(a)

In [53]:
route

['Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Kukatpally',
 'Hebbal to Shivarampalli',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Kukatpally',
 'Hebbal to Shivarampalli',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Kukatpally',
 'Hebbal to Shivarampalli',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Kukatpally',
 'Hebbal to Shivarampalli',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Shamshabad',
 'Hebbal to Kukatpally',
 'Hebbal to Shivarampalli']

In [55]:
route_link = []
for i in range(25):
    i = "https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024"
    route_link.append(i)

In [56]:
route_link

['https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024',
 'https://www.redbus.in/bus-tickets/bangalore-to-hyderabad?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&busType=Any&opId=18491&onward=10-Oct-2024']